doctype html
html
  include partials/head
  body
    .monkey(style='top:10px;left:44px;')
    //1st (top) row
    .floor(style='top:50px;left:40px;')
    .floor(style='top:50px;left:60px;')
    .floor(style='top:50px;left:80px;')
    .floor(style='top:50px;left:100px;')
    .floor(style='top:50px;left:120px;')
    .floor(style='top:50px;left:140px;')
    .floor(style='top:50px;left:160px;')
    .floor(style='top:50px;left:180px;transform:rotate(7deg);')
    .floor(style='top:52px;left:200px;transform:rotate(7deg);')
    .ladder(style='top:62px;left:190px;')
    .ladder(style='top:78px;left:190px;')
    //2nd row
    .floor(style='top:90px;left:240px;transform:rotate(-7deg);')
    .floor(style='top:92px;left:220px;transform:rotate(-7deg);')
    .floor(style='top:94px;left:200px;transform:rotate(-7deg);')
    .floor(style='top:96px;left:180px;transform:rotate(-7deg);')
    .floor(style='top:98px;left:160px;transform:rotate(-7deg);')
    .floor(style='top:100px;left:140px;transform:rotate(-7deg);')
    .floor(style='top:102px;left:120px;transform:rotate(-7deg);')
    .floor(style='top:104px;left:100px;transform:rotate(-7deg);')
    .floor(style='top:104px;left:80px;')
    //3rd row
    .floor(style='top:140px;left:40px;transform:rotate(7deg);')
    .floor(style='top:142px;left:60px;transform:rotate(7deg);')
    .floor(style='top:144px;left:80px;transform:rotate(7deg);')
    .floor(style='top:146px;left:100px;transform:rotate(7deg);')
    .floor(style='top:148px;left:120px;transform:rotate(7deg);')
    .floor(style='top:150px;left:140px;transform:rotate(7deg);')
    .floor(style='top:152px;left:160px;transform:rotate(7deg);')
    .floor(style='top:154px;left:180px;transform:rotate(7deg);')
    .floor(style='top:156px;left:200px;')
    //4th row
    .floor(style='top:190px;left:240px;transform:rotate(-7deg);')
    .floor(style='top:192px;left:220px;transform:rotate(-7deg);')
    .floor(style='top:194px;left:200px;transform:rotate(-7deg);')
    .floor(style='top:196px;left:180px;transform:rotate(-7deg);')
    .floor(style='top:198px;left:160px;transform:rotate(-7deg);')
    .floor(style='top:200px;left:140px;transform:rotate(-7deg);')
    .floor(style='top:202px;left:120px;transform:rotate(-7deg);')
    .floor(style='top:204px;left:100px;transform:rotate(-7deg);')
    .floor(style='top:204px;left:80px;')
    //5th row
    .floor(style='top:240px;left:40px;transform:rotate(7deg);')
    .floor(style='top:242px;left:60px;transform:rotate(7deg);')
    .floor(style='top:244px;left:80px;transform:rotate(7deg);')
    .floor(style='top:246px;left:100px;transform:rotate(7deg);')
    .floor(style='top:248px;left:120px;transform:rotate(7deg);')
    .floor(style='top:250px;left:140px;transform:rotate(7deg);')
    .floor(style='top:252px;left:160px;transform:rotate(7deg);')
    .floor(style='top:254px;left:180px;transform:rotate(7deg);')
    .floor(style='top:256px;left:200px;')
    //6th (final) row
    .floor(style='top:290px;left:240px;transform:rotate(-7deg);')
    .floor(style='top:292px;left:220px;transform:rotate(-7deg);')
    .floor(style='top:294px;left:200px;transform:rotate(-7deg);')
    .floor(style='top:296px;left:180px;transform:rotate(-7deg);')
    .floor(style='top:298px;left:160px;transform:rotate(-7deg);')
    .floor(style='top:300px;left:140px;transform:rotate(-7deg);')
    .floor(style='top:302px;left:120px;transform:rotate(-7deg);')
    .floor(style='top:304px;left:100px;transform:rotate(-7deg);')
    .floor(style='top:304px;left:80px;')
    .floor(style='top:304px;left:60px;')
    .floor(style='top:304px;left:40px;')
    .floor(style='top:304px;left:20px;')
    .floor(style='top:304px;left:0px;')