doctype html
html(lang='en')
  include ./partials/_head.jade
  body
    #blocker
      #instructions
        span Click to play
        br
        | (W, A, S, D = Move, SPACE = Jump, MOUSE = Look around)
    include ./partials/_footer.jade
    include ./partials/_scripts.jade
