doctype html
html(lang='en')
  include ./partials/_head.jade
  body
    #noscript
      span You must enable javascript to play this game
    #instructions
      span Click to play
      span (W, A, S, D = Move, SPACE = Jump, MOUSE = Look around)
    include ./partials/_scripts.jade
