/*!========================================================================== *
 * TestApp Styles
 * Author: Nathaniel Inman
 * Email: nate041010@gmail.com
 * ========================================================================== */


/* ========================================================================== *

   [Brief contents]

   1. Base
   2. Placeholders
   3. Layouts
       3.1 Container
       3.2 Header
       3.3 Footer
   4. Components
       4.1 Notifications

 * ========================================================================== */

@import 'helpers/variables';

@import 'helpers/mixins';

@import 'helpers/sprite';


/* -------------------------------------------------------------------------- *
 * Base
 * -------------------------------------------------------------------------- */

@import '../../.tmp/styles/vendors/normalize';
@import 'helpers/base';


/* -------------------------------------------------------------------------- *
 * Placeholders
 * -------------------------------------------------------------------------- */
@import 'helpers/placeholders';


/* -------------------------------------------------------------------------- *
 * Slush App
 * -------------------------------------------------------------------------- */

// TODO: REMOVE AFTER SCAFFOLDING

@import 'helpers/template';


/* -------------------------------------------------------------------------- *
 * Layouts
 * -------------------------------------------------------------------------- */

/* Container
   ========================================================================== */
@import 'layouts/container';

/* Header
   ========================================================================== */
@import 'layouts/header';

/* Footer
   ========================================================================== */
@import 'layouts/footer';


/* -------------------------------------------------------------------------- *
 * Components
 * -------------------------------------------------------------------------- */

/* Notifications
   ========================================================================== */
@import 'components/notifications';
