doctype html
html(lang='en')
  include ./partials/_head.jade
  body
    #canvasbg
      #water
        .layer1
        .layer2
      #sun
        .layer1
        .layer2
      #moon
        .layer1
        .layer2
        .layer3
        #moonbg1
        #moonbg2
        #moonbg3
      #clouds
    #canvas
    #film
    #scoreDestroyed
    #scoreSurvived
    include ./partials/_footer.jade
    include ./partials/_scripts.jade
