//
// Text indent
//

@mixin text-indent($value: -9999px, $font-size: 1px, $line-height: 1) {
  font-size: $font-size;
  line-height: $line-height;
  text-indent: $value;
}


//
// Placeholder
//

@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }

  &:-moz-placeholder {
    color: $color;
  }

  &::-moz-placeholder {
    color: $color;
  }

  &:-ms-input-placeholder {
    color: $color;
  }
}


//
// Display
//

@mixin inline-block {
  display: inline-block;

  @if $is-oldie {
    .lt-ie8 & {
      display: inline;
      zoom: 1;
    }
  }
}


//
// Min height / width
//

@mixin min-height($height) {
  @if $is-oldie {
    .lt-ie8 & {
      height: auto !important;
      height: $height;
    }
  }

  min-height: $height;
}

@mixin min-width($width) {
  @if $is-oldie {
    .lt-ie8 & {
      width: auto !important;
      width: $width;
    }
  }

  min-width: $width;
}

//
// Breakpoint
//

@mixin breakpoint($breakpoint) {
  @if $is-responsive {
    @if $breakpoint == sm {
      @media (min-width: $screen-sm-min) { @content; }
    } @else if $breakpoint == md {
      @media (min-width: $screen-md-min) { @content; }
    } @else if $breakpoint == lg {
      @media (min-width: $screen-lg-min) { @content; }
    }
  } @else if $breakpoint == md {
    @content;
  }
}
