doctype html
html(lang='en')
  head
    title terrain-morph
    base(href='/')
    meta(charset='utf-8')
    meta(name='version',content='0.1.0')
    meta(name='viewport',content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description',content='morph terrain')
  body
    #instructions
      span Click to play
      span (W, A, S, D = Move, SPACE = Jump, MOUSE = Look around)
    noscript
      | JavaScript is disabled in your browser.
      a(href='http://www.enable-javascript.com/',target='_blank') Here
      | is how to enable it.
    script(type='module',src='./index.js')
