doctype 1.1
html(xmlns='http://www.w3.org/1999/xhtml', xml:lang='en')
head(profile='http://gmpg.org/xfn/11')
	meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
	meta(name='google-site-verification', content='D5PtrhN0ntlVetXhXYYYRncSjWDGI3Rf3lu-QQyiah0')
    title The Other Experiment Studio
    meta(name='generator', content='WordPress 4.1')
    // leave this for stats
    link(rel='stylesheet', href='http://theoestudio.com/wp-content/themes/simplicitybright/style.css', type='text/css', media='screen')
    //
    link#crayon-css(rel='stylesheet', href='http://theoestudio.com/wp-content/plugins/crayon-syntax-highlighter/css/min/crayon.min.css?ver=2.6.9', type='text/css', media='all')
    link#crayon-theme-son-of-obsidian-css(rel='stylesheet', href='http://theoestudio.com/wp-content/plugins/crayon-syntax-highlighter/themes/son-of-obsidian/son-of-obsidian.css?ver=2.6.9', type='text/css', media='all')
    link#crayon-font-monaco-css(rel='stylesheet', href='http://theoestudio.com/wp-content/plugins/crayon-syntax-highlighter/fonts/monaco.css?ver=2.6.9', type='text/css', media='all')
    // This site uses the Yoast Google Analytics plugin v5.2.7 - Universal disabled - https://yoast.com/wordpress/plugins/google-analytics/
    script(type='text/javascript', src='http://theoestudio.com/wp-content/plugins/jquery-updater/js/jquery-2.1.3.min.js?ver=2.1.3')
    script(type='text/javascript', src='http://theoestudio.com/wp-content/plugins/crayon-syntax-highlighter/js/min/crayon.min.js?ver=2.6.9')
    script(type='text/javascript', src='http://theoestudio.com/wp-content/plugins/jquery-updater/js/jquery-migrate-1.2.1.min.js?ver=1.2.1')
    link(rel='EditURI', type='application/rsd+xml', title='RSD', href='http://theoestudio.com/xmlrpc.php?rsd')
    link(rel='wlwmanifest', type='application/wlwmanifest+xml', href='http://theoestudio.com/wp-includes/wlwmanifest.xml')
    meta(name='generator', content='WordPress 4.1')
    link(rel='stylesheet', href='http://theoestudio.com/wp-content/plugins/secure-html5-video-player/video-js/video-js.css', type='text/css')
    link(rel='stylesheet', href='http://theoestudio.com/wp-content/plugins/secure-html5-video-player/video-js/skins/tube.css', type='text/css')
    script(src='http://theoestudio.com/wp-content/plugins/secure-html5-video-player/video-js/video.js', type='text/javascript')
    link(rel='alternate', type='application/rss+xml', title='RSS 2.0', href='http://theoestudio.com/?feed=rss2')
    link(rel='alternate', type='text/xml', title='RSS .92', href='http://theoestudio.com/?feed=rss')
    link(rel='alternate', type='application/atom+xml', title='Atom 0.3', href='http://theoestudio.com/?feed=atom')
    script(type='text/javascript', src='https://www.google.com/jsapi')
    link(rel='pingback', href='http://theoestudio.com/xmlrpc.php')
    link(rel='archives', title='October 2014', href='http://theoestudio.com/?m=201410')
    link(rel='archives', title='September 2014', href='http://theoestudio.com/?m=201409')
    link(rel='archives', title='August 2014', href='http://theoestudio.com/?m=201408')
    link(rel='archives', title='July 2014', href='http://theoestudio.com/?m=201407')
    link(rel='archives', title='June 2014', href='http://theoestudio.com/?m=201406')
    link(rel='archives', title='May 2014', href='http://theoestudio.com/?m=201405')
    link(rel='archives', title='April 2014', href='http://theoestudio.com/?m=201404')
    link(rel='archives', title='March 2014', href='http://theoestudio.com/?m=201403')
    link(rel='archives', title='February 2014', href='http://theoestudio.com/?m=201402')
    link(rel='archives', title='January 2014', href='http://theoestudio.com/?m=201401')
    link(rel='archives', title='December 2013', href='http://theoestudio.com/?m=201312')
    link(rel='archives', title='November 2013', href='http://theoestudio.com/?m=201311')
    link(rel='archives', title='October 2013', href='http://theoestudio.com/?m=201310')
    link(rel='archives', title='September 2013', href='http://theoestudio.com/?m=201309')
    link(rel='archives', title='August 2013', href='http://theoestudio.com/?m=201308')
    link(rel='archives', title='July 2013', href='http://theoestudio.com/?m=201307')
    link(rel='archives', title='May 2013', href='http://theoestudio.com/?m=201305')
    link(rel='archives', title='April 2013', href='http://theoestudio.com/?m=201304')
    link(rel='archives', title='March 2013', href='http://theoestudio.com/?m=201303')
    link(rel='archives', title='February 2013', href='http://theoestudio.com/?m=201302')
    link(rel='archives', title='January 2013', href='http://theoestudio.com/?m=201301')
    link(rel='archives', title='November 2012', href='http://theoestudio.com/?m=201211')
    link(rel='archives', title='August 2012', href='http://theoestudio.com/?m=201208')
    link(rel='archives', title='April 2012', href='http://theoestudio.com/?m=201204')
    link(rel='archives', title='March 2012', href='http://theoestudio.com/?m=201203')
    link(rel='archives', title='October 2011', href='http://theoestudio.com/?m=201110')
    link(rel='archives', title='August 2011', href='http://theoestudio.com/?m=201108')
    link(rel='archives', title='July 2011', href='http://theoestudio.com/?m=201107')
    link(rel='archives', title='May 2011', href='http://theoestudio.com/?m=201105')
    link(rel='archives', title='March 2011', href='http://theoestudio.com/?m=201103')
    link(rel='archives', title='February 2011', href='http://theoestudio.com/?m=201102')
body(onresize='resizeFeed();')
    #top
        #topbar
            ul.topmenu
                li
                    a(href='http://theoestudio.com') Home
                | &#x9;&#x9;&#x9;
                li
                    a(href='http://www.plainsofsedia.com') Plains of Sedia
                | &#x9;&#x9;&#x9;
                li.page_item.page-item-101
                    a(href='http://theoestudio.com/?page_id=101') Exploring The Bleak
                | &#x9;&#x9;&#x9;
                li
                    a(href='http://theoestudio.com/?feed=rss2')
                        img(src='http://theoestudio.com/wp-content/themes/simplicitybright/images/rss.gif', alt='rssfeed')
    | &#x9;
    #page
        #leftFeed.postmetadata2(style='position:absolute;left:0px;top:10%;width:20%;text-align:center;margin-left:10px;visibility:hidden;')
            #curListening(style='font-size:1.5em;margin-bottom:15px;') Github: My Open Source Activity
            | &#x9;
            #feed
            | &#x9;
            script(type='text/javascript').
                var feedcontainer = document.getElementById("feed");
                var feedurl = "https://github.com/NathanielInman.atom";
                var feedlimit = 10;
                var curColor = false;
                var resizeFeed = function () {
                    var w = window,
                        d = document,
                        e = d.documentElement,
                        g = d.getElementsByTagName('body')[0],
                        x = w.innerWidth || e.clientWidth || g.clientWidth;
                    if (x >= 1470) {
                        document.getElementById("leftFeed").style.visibility = "visible";
                    } else {document.getElementById("leftFeed").style.visibility = "hidden";}
                };
                var changeCurListening = function () {
                    if (curColor == false) {
                        document.getElementById("curListening").style.color = "#888";
                        curColor = true;
                    } else {
                        document.getElementById("curListening").style.color = "#9C6";
                        curColor = false;
                    } //end if
                };
                var changeCurListeningTimer = setInterval(function () {changeCurListening();}, 500);
                var rssoutput = "";
                function rssfeedsetup() {
                    var feedpointer = new google.feeds.Feed(feedurl)
                    feedpointer.setNumEntries(feedlimit)
                    feedpointer.load(displayfeed)
                } //end rssfeedsetup()
                function displayfeed(result) {
                    if (!result.error) {
                        var thefeeds = result.feed.entries
                        for (var i = 0, bq = 0; i < thefeeds.length && !(typeof thefeeds[i] == "undefined"); i++) {
                            rssoutput += "<a href='" + thefeeds[i].link + "'>" + thefeeds[i].title.replace('lI', 'l I').replace('NathanielInman/', '') + "</a><br/>";
                            bq = thefeeds[i].content.indexOf('<blockquote>');
                            if (bq >= 0) {
                                for (var j = bq + 12, k = j; i < thefeeds[i].content.length; j++) {
                                    if (thefeeds[i].content.substring(j, j + 13) == '</blockquote>') {
                                        rssoutput += '<b>' + thefeeds[i].content.substring(k, j) + '</b><br/>';
                                        break;
                                    } //end if
                                } //end for
                            }
                            rssoutput += "<span style='color:#555;font-style:italic'>" + thefeeds[i].publishedDate.replace(' -0700', '') + "</span><br/>";
                            if (i < thefeeds.length - 1)rssoutput += '<br/>';
                        } //end for
                        feedcontainer.innerHTML = rssoutput
                    } else {
                        if (console)console.log("Error fetching feeds!");
                    } //end if
                } //end displayfeed()
                window.onload = function () {
                    rssfeedsetup(); //set up the data for the feed
                    resizeFeed(); //initialize the feed, should it be visible?
                }
        | &#x9;
        #header
            #blogname
        #wrapper
            #content
                .postmetadata2
                    h1#post-761
                        a(href='http://theoestudio.com/?p=761', rel='bookmark', title='Permanent Link: [JS] Interview Question') [JS] Interview Question
                    .entry
                        p
                            | So I recently had an interview with some cool guys with a rather simple javascript question. Unfortunately I feel I totally bombed it because I was nervous and put on the spot.
                        blockquote
                            p Create a square that when pressed moves and changes color.
                        p
                            | What I had done was use a synchronous recursive function to move the square and change the color. As you might expect, the DOM didn&rsquo;t have time to show the transition between the movement because the recursive function wasn&rsquo;t leaving the processor free.
                        p
                            | When I got home I created the correct answer using just css and another using javascript in around 2 minutes. Here&rsquo;s the results.
                        // Crayon Syntax Highlighter v2.6.9
                        #crayon-54b47954b492e859251140.crayon-syntax.crayon-theme-son-of-obsidian.crayon-font-monaco.crayon-os-mac.print-yes.notranslate(data-settings=' minimize scroll-mouseover', style=' margin-top: 12px; margin-bottom: 12px; font-size: 12px !important; line-height: 15px !important;')
                            .crayon-toolbar(data-settings=' mouseover overlay hide delay', style='font-size: 12px !important;height: 18px !important; line-height: 18px !important;')
                                span.crayon-title Javascript Version
                                | &#x9;&#x9;&#x9;
                                .crayon-tools(style='font-size: 12px !important;height: 18px !important; line-height: 18px !important;')
                                    span.crayon-mixed-highlight(title='Contains Mixed Languages')
                                    .crayon-button.crayon-nums-button(title='Toggle Line Numbers')
                                        .crayon-button-icon
                                    .crayon-button.crayon-plain-button(title='Toggle Plain Code')
                                        .crayon-button-icon
                                    .crayon-button.crayon-wrap-button(title='Toggle Line Wrap')
                                        .crayon-button-icon
                                    .crayon-button.crayon-expand-button(title='Expand Code')
                                        .crayon-button-icon
                                    .crayon-button.crayon-copy-button(title='Copy')
                                        .crayon-button-icon
                                    .crayon-button.crayon-popup-button(title='Open Code In New Window')
                                        .crayon-button-icon
                            | &#x9;&#x9;&#x9;
                            .crayon-info(style='min-height: 16.8px !important; line-height: 16.8px !important;')
                            | &#x9;&#x9;&#x9;
                            .crayon-plain-wrap
                                textarea.crayon-plain.print-no(wrap='soft', data-settings='dblclick', readonly='', style='-moz-tab-size:4; -o-tab-size:4; -webkit-tab-size:4; tab-size:4; font-size: 12px !important; line-height: 15px !important;')
                                    | &lt;!DOCTYPE html&gt;
                                    | &lt;html&gt;
                                    | &lt;head&gt;
                                    | &lt;title&gt;Interview Question&lt;/title&gt;
                                    | &lt;style&gt;
                                    | #square{
                                    | position:absolute;
                                    | left:0px;top:40%;height:20%;width:100px;
                                    | background-color:#00F;
                                    | }
                                    | &lt;/style&gt;
                                    | &lt;/head&gt;
                                    | &lt;body&gt;
                                    | &lt;div id=&apos;square&apos; onmousedown=&apos;moveSquare(0);&apos;&gt;&lt;/div&gt;
                                    | &lt;script&gt;
                                    | var f=function(n){return n|0;};
                                    | var square=document.getElementById(&apos;square&apos;);
                                    | var iterations=500;
                                    | var moveSquare=function(x){
                                    | square.style.left=++x+&apos;px&apos;;
                                    | square.style.backgroundColor=&apos;rgb(&apos;+f(255/iterations*x)+&apos;,0,&apos;+f(255/100*(iterations-x))+&apos;)&apos;;
                                    | if(x&lt;iterations)setTimeout(&apos;moveSquare(&apos;+x+&apos;)&apos;,1);
                                    | };
                                    | &lt;/script&gt;
                                    | &lt;/body&gt;
                            | &#x9;&#x9;&#x9;
                            .crayon-main(style='')
                                table.crayon-table
                                    tr.crayon-row
                                        td.crayon-nums(data-settings='show')
                                            .crayon-nums-content(style='font-size: 12px !important; line-height: 15px !important;')
                                                .crayon-num(data-line='crayon-54b47954b492e859251140-1') 1
                                                .crayon-num.crayon-striped-num(data-line='crayon-54b47954b492e859251140-2') 2
                                                .crayon-num(data-line='crayon-54b47954b492e859251140-3') 3
                                                .crayon-num.crayon-striped-num(data-line='crayon-54b47954b492e859251140-4') 4
                                                .crayon-num(data-line='crayon-54b47954b492e859251140-5') 5
                                                .crayon-num.crayon-striped-num(data-line='crayon-54b47954b492e859251140-6') 6
                                                .crayon-num(data-line='crayon-54b47954b492e859251140-7') 7
                                                .crayon-num.crayon-striped-num(data-line='crayon-54b47954b492e859251140-8') 8
                                                .crayon-num(data-line='crayon-54b47954b492e859251140-9') 9
                                                .crayon-num.crayon-striped-num(data-line='crayon-54b47954b492e859251140-10') 10
                                                .crayon-num(data-line='crayon-54b47954b492e859251140-11') 11
                                                .crayon-num.crayon-striped-num(data-line='crayon-54b47954b492e859251140-12') 12
                                                .crayon-num(data-line='crayon-54b47954b492e859251140-13') 13
                                                .crayon-num.crayon-striped-num(data-line='crayon-54b47954b492e859251140-14') 14
                                                .crayon-num(data-line='crayon-54b47954b492e859251140-15') 15
                                                .crayon-num.crayon-striped-num(data-line='crayon-54b47954b492e859251140-16') 16
                                                .crayon-num(data-line='crayon-54b47954b492e859251140-17') 17
                                                .crayon-num.crayon-striped-num(data-line='crayon-54b47954b492e859251140-18') 18
                                                .crayon-num(data-line='crayon-54b47954b492e859251140-19') 19
                                                .crayon-num.crayon-striped-num(data-line='crayon-54b47954b492e859251140-20') 20
                                                .crayon-num(data-line='crayon-54b47954b492e859251140-21') 21
                                                .crayon-num.crayon-striped-num(data-line='crayon-54b47954b492e859251140-22') 22
                                                .crayon-num(data-line='crayon-54b47954b492e859251140-23') 23
                                                .crayon-num.crayon-striped-num(data-line='crayon-54b47954b492e859251140-24') 24
                                                .crayon-num(data-line='crayon-54b47954b492e859251140-25') 25
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                        td.crayon-code
                                            .crayon-pre(style='font-size: 12px !important; line-height: 15px !important; -moz-tab-size:4; -o-tab-size:4; -webkit-tab-size:4; tab-size:4;')
                                                #crayon-54b47954b492e859251140-1.crayon-line
                                                    span.crayon-o &lt;
                                                    span.crayon-o !
                                                    span.crayon-e DOCTYPE
                                                    span.crayon-h
                                                    span.crayon-e                             span.crayon-o &gt;
                                                #crayon-54b47954b492e859251140-2.crayon-line.crayon-striped-line
                                                    span.crayon-o &lt;
                                                    span.crayon-e html
                                                    span.crayon-o &gt;
                                                #crayon-54b47954b492e859251140-3.crayon-line
                                                    span.crayon-o &lt;
                                                    span.crayon-e head
                                                    span.crayon-o &gt;
                                                #crayon-54b47954b492e859251140-4.crayon-line.crayon-striped-line
                                                    span.crayon-h &#x9;
                                                    span.crayon-o &lt;
                                                    span.crayon-e title
                                                    span.crayon-o &gt;
                                                    span.crayon-e Interview
                                                    span.crayon-h
                                                    span.crayon-e Question
                                                    span.crayon-o &lt;
                                                    span.crayon-o /
                                                    span.crayon-e title
                                                    span.crayon-o &gt;
                                                #crayon-54b47954b492e859251140-5.crayon-line
                                                    span.crayon-h &#x9;
                                                    span.crayon-ta &lt;style&gt;
                                                #crayon-54b47954b492e859251140-6.crayon-line.crayon-striped-line
                                                    span.crayon-h &#x9;&#x9;
                                                    span.crayon-k #square
                                                    span.crayon-sy {
                                                #crayon-54b47954b492e859251140-7.crayon-line
                                                    span.crayon-h &#x9;&#x9;&#x9;
                                                    span.crayon-e position
                                                    span.crayon-sy :
                                                    span.crayon-i absolute
                                                    span.crayon-sy ;
                                                #crayon-54b47954b492e859251140-8.crayon-line.crayon-striped-line
                                                    span.crayon-h &#x9;&#x9;&#x9;
                                                    span.crayon-e left
                                                    span.crayon-sy :
                                                    span.crayon-i 0px
                                                    span.crayon-sy ;
                                                    span.crayon-e top
                                                    span.crayon-sy :
                                                    span.crayon-i 40%
                                                    span.crayon-sy ;
                                                    span.crayon-e height
                                                    span.crayon-sy :
                                                    span.crayon-i 20%
                                                    span.crayon-sy ;
                                                    span.crayon-e width
                                                    span.crayon-sy :
                                                    span.crayon-i 100px
                                                    span.crayon-sy ;
                                                #crayon-54b47954b492e859251140-9.crayon-line
                                                    span.crayon-h &#x9;&#x9;&#x9;
                                                    span.crayon-e background-color
                                                    span.crayon-sy :
                                                    span.crayon-i #00F
                                                    span.crayon-sy ;
                                                #crayon-54b47954b492e859251140-10.crayon-line.crayon-striped-line
                                                    span.crayon-h &#x9;&#x9;
                                                    span.crayon-sy }
                                                #crayon-54b47954b492e859251140-11.crayon-line
                                                    span.crayon-h &#x9;
                                                    span.crayon-ta &lt;/style&gt;
                                                #crayon-54b47954b492e859251140-12.crayon-line.crayon-striped-line
                                                    span.crayon-o &lt;
                                                    span.crayon-o /
                                                    span.crayon-v head
                                                    span.crayon-o &gt;
                                                #crayon-54b47954b492e859251140-13.crayon-line
                                                    span.crayon-o &lt;
                                                    span.crayon-o &gt;
                                                #crayon-54b47954b492e859251140-14.crayon-line.crayon-striped-line
                                                    span.crayon-h &#x9;
                                                    span.crayon-o &lt;
                                                    span.crayon-e div
                                                    span.crayon-v id
                                                    span.crayon-o =
                                                    span.crayon-s &apos;square&apos;
                                                    span.crayon-h
                                                    span.crayon-v onmousedown
                                                    span.crayon-o =
                                                    span.crayon-s &apos;moveSquare(0);&apos;
                                                    span.crayon-o &gt;
                                                    span.crayon-o &lt;
                                                    span.crayon-o /
                                                    span.crayon-e div
                                                    span.crayon-o &gt;
                                                #crayon-54b47954b492e859251140-15.crayon-line
                                                    span.crayon-h &#x9;
                                                    span.crayon-ta &lt;script&gt;
                                                #crayon-54b47954b492e859251140-16.crayon-line.crayon-striped-line
                                                    span.crayon-h &#x9;&#x9;
                                                    span.crayon-t var
                                                    span.crayon-h
                                                    span.crayon-v f
                                                    span.crayon-o =
                                                    span.crayon-t function
                                                    span.crayon-sy (
                                                    span.crayon-v n
                                                    span.crayon-sy )
                                                    span.crayon-sy {
                                                    span.crayon-st return
                                                    span.crayon-h
                                                    span.crayon-v n
                                                    span.crayon-o |
                                                    span.crayon-cn 0
                                                    span.crayon-sy ;
                                                    span.crayon-sy }
                                                    span.crayon-sy ;
                                                #crayon-54b47954b492e859251140-17.crayon-line
                                                    span.crayon-h &#x9;&#x9;
                                                    span.crayon-t var
                                                    span.crayon-h
                                                    span.crayon-v square
                                                    span.crayon-o =
                                                    span.crayon-v document
                                                    span.crayon-sy .
                                                    span.crayon-e getElementById
                                                    span.crayon-sy (
                                                    span.crayon-s &apos;square&apos;
                                                    span.crayon-sy )
                                                    span.crayon-sy ;
                                                #crayon-54b47954b492e859251140-18.crayon-line.crayon-striped-line
                                                    span.crayon-h &#x9;&#x9;
                                                    span.crayon-t var
                                                    span.crayon-h
                                                    span.crayon-v iterations
                                                    span.crayon-o =
                                                    span.crayon-cn 500
                                                    span.crayon-sy ;
                                                #crayon-54b47954b492e859251140-19.crayon-line
                                                    span.crayon-h &#x9;&#x9;
                                                    span.crayon-t var
                                                    span.crayon-h
                                                    span.crayon-v moveSquare
                                                    span.crayon-o =
                                                    span.crayon-t function
                                                    span.crayon-sy (
                                                    span.crayon-v x
                                                    span.crayon-sy )
                                                    span.crayon-sy {
                                                #crayon-54b47954b492e859251140-20.crayon-line.crayon-striped-line
                                                    span.crayon-h &#x9;&#x9;&#x9;
                                                    span.crayon-v square
                                                    span.crayon-sy .
                                                    span.crayon-v style
                                                    span.crayon-sy .
                                                    span.crayon-v left
                                                    span.crayon-o =
                                                    span.crayon-o ++
                                                    span.crayon-v x
                                                    span.crayon-o +
                                                    span.crayon-s &apos;px&apos;
                                                    span.crayon-sy ;
                                                #crayon-54b47954b492e859251140-21.crayon-line
                                                    span.crayon-h &#x9;&#x9;&#x9;
                                                    span.crayon-v square
                                                    span.crayon-sy .
                                                    span.crayon-v style
                                                    span.crayon-sy .
                                                    span.crayon-e backgroundColor
                                                    span.crayon-o =
                                                    span.crayon-s &apos;rgb(&apos;
                                                    span.crayon-o +
                                                    span.crayon-e f
                                                    span.crayon-sy (
                                                    span.crayon-cn 255
                                                    span.crayon-o /
                                                    span.crayon-v iterations
                                                    span.crayon-o *
                                                    span.crayon-v x
                                                    span.crayon-sy )
                                                    span.crayon-o +
                                                    span.crayon-s &apos;,0,&apos;
                                                    span.crayon-o +
                                                    span.crayon-e f
                                                    span.crayon-sy (
                                                    span.crayon-cn 255
                                                    span.crayon-c /100*(iterations-x))+&apos;)&apos;;
                                                #crayon-54b47954b492e859251140-22.crayon-line.crayon-striped-line
                                                    span.crayon-c &#x9;&#x9;&#x9;if(x&lt;iterations)setTimeout(&apos;moveSquare(&apos;+x+&apos;)&apos;,1);
                                                #crayon-54b47954b492e859251140-23.crayon-line
                                                    span.crayon-c &#x9;&#x9;};
                                                #crayon-54b47954b492e859251140-24.crayon-line.crayon-striped-line
                                                    span.crayon-c &#x9;&lt;/s
                                                    span.crayon-v cript
                                                    span.crayon-o &gt;
                                                #crayon-54b47954b492e859251140-25.crayon-line
                                                    span.crayon-o &lt;
                                                    span.crayon-o /
                                                    span.crayon-v body
                                                    span.crayon-o &gt;
                        // [Format Time: 0.0396 seconds]
                        p
                        // Crayon Syntax Highlighter v2.6.9
                        #crayon-54b47954b4943590141249.crayon-syntax.crayon-theme-son-of-obsidian.crayon-font-monaco.crayon-os-mac.print-yes.notranslate(data-settings=' minimize scroll-mouseover', style=' margin-top: 12px; margin-bottom: 12px; font-size: 12px !important; line-height: 15px !important;')
                            .crayon-toolbar(data-settings=' mouseover overlay hide delay', style='font-size: 12px !important;height: 18px !important; line-height: 18px !important;')
                                span.crayon-title CSS Version
                                | &#x9;&#x9;&#x9;
                                .crayon-tools(style='font-size: 12px !important;height: 18px !important; line-height: 18px !important;')
                                    span.crayon-mixed-highlight(title='Contains Mixed Languages')
                                    .crayon-button.crayon-nums-button(title='Toggle Line Numbers')
                                        .crayon-button-icon
                                    .crayon-button.crayon-plain-button(title='Toggle Plain Code')
                                        .crayon-button-icon
                                    .crayon-button.crayon-wrap-button(title='Toggle Line Wrap')
                                        .crayon-button-icon
                                    .crayon-button.crayon-expand-button(title='Expand Code')
                                        .crayon-button-icon
                                    .crayon-button.crayon-copy-button(title='Copy')
                                        .crayon-button-icon
                                    .crayon-button.crayon-popup-button(title='Open Code In New Window')
                                        .crayon-button-icon
                            | &#x9;&#x9;&#x9;
                            .crayon-info(style='min-height: 16.8px !important; line-height: 16.8px !important;')
                            | &#x9;&#x9;&#x9;
                            .crayon-plain-wrap
                                textarea.crayon-plain.print-no(wrap='soft', data-settings='dblclick', readonly='', style='-moz-tab-size:4; -o-tab-size:4; -webkit-tab-size:4; tab-size:4; font-size: 12px !important; line-height: 15px !important;')
                                    | &lt;!DOCTYPE html&gt;
                                    | &lt;html&gt;
                                    | &lt;head&gt;
                                    | &lt;title&gt;Interview Question CSS&lt;/title&gt;
                                    | &lt;style&gt;
                                    | #square{
                                    | position:absolute;
                                    | left:0px;top:40%;height:20%;width:100px;
                                    | background-color:#00F;
                                    | }
                                    | #square:active{
                                    | left:100px;
                                    | background-color:#F00;
                                    | }
                                    | &lt;/style&gt;
                                    | &lt;/head&gt;
                                    | &lt;body&gt;
                                    | &lt;div id=&apos;square&apos;&gt;&lt;/div&gt;
                                    | &lt;/body&gt;
                            | &#x9;&#x9;&#x9;
                            .crayon-main(style='')
                                table.crayon-table
                                    tr.crayon-row
                                        td.crayon-nums(data-settings='show')
                                            .crayon-nums-content(style='font-size: 12px !important; line-height: 15px !important;')
                                                .crayon-num(data-line='crayon-54b47954b4943590141249-1') 1
                                                .crayon-num.crayon-striped-num(data-line='crayon-54b47954b4943590141249-2') 2
                                                .crayon-num(data-line='crayon-54b47954b4943590141249-3') 3
                                                .crayon-num.crayon-striped-num(data-line='crayon-54b47954b4943590141249-4') 4
                                                .crayon-num(data-line='crayon-54b47954b4943590141249-5') 5
                                                .crayon-num.crayon-striped-num(data-line='crayon-54b47954b4943590141249-6') 6
                                                .crayon-num(data-line='crayon-54b47954b4943590141249-7') 7
                                                .crayon-num.crayon-striped-num(data-line='crayon-54b47954b4943590141249-8') 8
                                                .crayon-num(data-line='crayon-54b47954b4943590141249-9') 9
                                                .crayon-num.crayon-striped-num(data-line='crayon-54b47954b4943590141249-10') 10
                                                .crayon-num(data-line='crayon-54b47954b4943590141249-11') 11
                                                .crayon-num.crayon-striped-num(data-line='crayon-54b47954b4943590141249-12') 12
                                                .crayon-num(data-line='crayon-54b47954b4943590141249-13') 13
                                                .crayon-num.crayon-striped-num(data-line='crayon-54b47954b4943590141249-14') 14
                                                .crayon-num(data-line='crayon-54b47954b4943590141249-15') 15
                                                .crayon-num.crayon-striped-num(data-line='crayon-54b47954b4943590141249-16') 16
                                                .crayon-num(data-line='crayon-54b47954b4943590141249-17') 17
                                                .crayon-num.crayon-striped-num(data-line='crayon-54b47954b4943590141249-18') 18
                                                .crayon-num(data-line='crayon-54b47954b4943590141249-19') 19
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                        td.crayon-code
                                            .crayon-pre(style='font-size: 12px !important; line-height: 15px !important; -moz-tab-size:4; -o-tab-size:4; -webkit-tab-size:4; tab-size:4;')
                                                #crayon-54b47954b4943590141249-1.crayon-line
                                                    span.crayon-o &lt;
                                                    span.crayon-o !
                                                    span.crayon-e DOCTYPE
                                                    span.crayon-h
                                                    span.crayon-e html
                                                    span.crayon-o &gt;
                                                #crayon-54b47954b4943590141249-2.crayon-line.crayon-striped-line
                                                    span.crayon-o &lt;
                                                    span.crayon-e html
                                                    span.crayon-o &gt;
                                                #crayon-54b47954b4943590141249-3.crayon-line
                                                    span.crayon-o &lt;
                                                    span.crayon-e head
                                                    span.crayon-o &gt;
                                                #crayon-54b47954b4943590141249-4.crayon-line.crayon-striped-line
                                                    span.crayon-h &#x9;
                                                    span.crayon-o &lt;
                                                    span.crayon-e title
                                                    span.crayon-o &gt;
                                                    span.crayon-e Interview
                                                    span.crayon-h
                                                    span.crayon-e Question
                                                    span.crayon-h
                                                    span.crayon-e CSS
                                                    span.crayon-o &lt;
                                                    span.crayon-o /
                                                    span.crayon-e title
                                                    span.crayon-o &gt;
                                                #crayon-54b47954b4943590141249-5.crayon-line
                                                    span.crayon-h &#x9;
                                                    span.crayon-ta &lt;style&gt;
                                                #crayon-54b47954b4943590141249-6.crayon-line.crayon-striped-line
                                                    span.crayon-h &#x9;
                                                    span.crayon-k #square
                                                    span.crayon-sy {
                                                #crayon-54b47954b4943590141249-7.crayon-line
                                                    span.crayon-h &#x9;&#x9;
                                                    span.crayon-e position
                                                    span.crayon-sy :
                                                    span.crayon-i absolute
                                                    span.crayon-sy ;
                                                #crayon-54b47954b4943590141249-8.crayon-line.crayon-striped-line
                                                    span.crayon-h &#x9;&#x9;
                                                    span.crayon-e left
                                                    span.crayon-sy :
                                                    span.crayon-i 0px
                                                    span.crayon-sy ;
                                                    span.crayon-e top
                                                    span.crayon-sy :
                                                    span.crayon-i 40%
                                                    span.crayon-sy ;
                                                    span.crayon-e height
                                                    span.crayon-sy :
                                                    span.crayon-i 20%
                                                    span.crayon-sy ;
                                                    span.crayon-e width
                                                    span.crayon-sy :
                                                    span.crayon-i 100px
                                                    span.crayon-sy ;
                                                #crayon-54b47954b4943590141249-9.crayon-line
                                                    span.crayon-h &#x9;&#x9;
                                                    span.crayon-e background-color
                                                    span.crayon-sy :
                                                    span.crayon-i #00F
                                                    span.crayon-sy ;
                                                #crayon-54b47954b4943590141249-10.crayon-line.crayon-striped-line
                                                    span.crayon-h &#x9;
                                                    span.crayon-sy }
                                                #crayon-54b47954b4943590141249-11.crayon-line
                                                    span.crayon-h &#x9;
                                                    span.crayon-k #square:active
                                                    span.crayon-sy {
                                                #crayon-54b47954b4943590141249-12.crayon-line.crayon-striped-line
                                                    span.crayon-h &#x9;&#x9;
                                                    span.crayon-e left
                                                    span.crayon-sy :
                                                    span.crayon-i 100px
                                                    span.crayon-sy ;
                                                #crayon-54b47954b4943590141249-13.crayon-line
                                                    span.crayon-h &#x9;&#x9;
                                                    span.crayon-e background-color
                                                    span.crayon-sy :
                                                    span.crayon-i #F00
                                                    span.crayon-sy ;
                                                #crayon-54b47954b4943590141249-14.crayon-line.crayon-striped-line
                                                    span.crayon-h &#x9;
                                                    span.crayon-sy }
                                                #crayon-54b47954b4943590141249-15.crayon-line
                                                    span.crayon-h &#x9;
                                                    span.crayon-ta &lt;/style&gt;
                                                #crayon-54b47954b4943590141249-16.crayon-line.crayon-striped-line
                                                    span.crayon-o &lt;
                                                    span.crayon-o /
                                                    span.crayon-v head
                                                    span.crayon-o &gt;
                                                #crayon-54b47954b4943590141249-17.crayon-line
                                                    span.crayon-o &lt;
                                                    span.crayon-v body
                                                    span.crayon-o &gt;
                                                #crayon-54b47954b4943590141249-18.crayon-line.crayon-striped-line
                                                    span.crayon-h &#x9;
                                                    span.crayon-o &lt;
                                                    span.crayon-e div
                                                    span.crayon-v id
                                                    span.crayon-o =
                                                    span.crayon-s &apos;square&apos;
                                                    span.crayon-o &gt;
                                                    span.crayon-o &lt;
                                                    span.crayon-o /
                                                    span.crayon-v div
                                                    span.crayon-o &gt;
                                                #crayon-54b47954b4943590141249-19.crayon-line
                                                    span.crayon-o &lt;
                                                    span.crayon-o /
                                                    span.crayon-v body
                                                    span.crayon-o &gt;
                        // [Format Time: 0.0026 seconds]
                        p
                    p.postmetadata
                        | October 3rd, 2014 |
                        a(href='http://theoestudio.com/?p=761#respond', title='Comment on [JS] Interview Question') 0 Comments
                        br
                        | Category:
                        a(href='http://theoestudio.com/?cat=218', rel='category') Experiment
                        | | Tags:
                        a(href='http://theoestudio.com/?tag=asynchronous', rel='tag') asynchronous
                        | ,
                        a(href='http://theoestudio.com/?tag=css', rel='tag') css
                        | ,
                        a(href='http://theoestudio.com/?tag=interview', rel='tag') interview
                        | ,
                        a(href='http://theoestudio.com/?tag=javascript', rel='tag') javascript
                        | ,
                        a(href='http://theoestudio.com/?tag=question', rel='tag') question
                        | ,
                        a(href='http://theoestudio.com/?tag=recursive', rel='tag') recursive
                        | ,
                        a(href='http://theoestudio.com/?tag=synchronous', rel='tag') synchronous
                .postmetadata2
                    h1#post-754
                        a(href='http://theoestudio.com/?p=754', rel='bookmark', title='Permanent Link: [JS] ETBv4 Showcase') [JS] ETBv4 Showcase
                    .entry
                        p
                            | Since beginning the fourth version of this game, I&rsquo;ve always had it in my mind that testing, particularly Test Driven Development should be a guiding factor in how it should be made. Many projects get scrapped because their scaffolding is bad or their design lacks the proper structure to allow growth. Exploring The Bleak is not a tiny Javascript game, so structure is important.
                        p
                            | I&rsquo;m scaling a testing application for ETBv4 as features are added to the game to test those features appropriately. It&rsquo;s called ETB Showcase. Right now it&rsquo;s nothing more than an alternate view that displays the maps without the player, FOV, LOS lighting and other visual obstructions. The showcase map feature itself will be altered to allow scrolling as maps will potentially scale way beyond the simple 51&times;51 map size that have previously been known to show themselves in the game series.
                        #attachment_755.wp-caption.aligncenter(style='width: 523px')
                            a(href='http://theoestudio.com/wp-content/uploads/2014/09/ETBv4_preview5_09142014.png', onclick="_gaq.push(['_trackEvent', 'outbound-article-int', 'http://theoestudio.com/wp-content/uploads/2014/09/ETBv4_preview5_09142014.png', '']);")
                                img.size-full.wp-image-755(src='http://theoestudio.com/wp-content/uploads/2014/09/ETBv4_preview5_09142014.png', alt='Screenshot of Exploring the Bleak on a red map with dark ground and 5 mobs moving around the map.', width='513', height='577')
                            p.wp-caption-text
                                | The map generation type is Diffusion Limited Aggregation. I favor starting development on this type because it&rsquo;s erratic and helps test FOV much easier at the edge cases.
                        #attachment_756.wp-caption.aligncenter(style='width: 513px')
                            a(href='http://theoestudio.com/wp-content/uploads/2014/09/ETBv4_preview4_09142014.png', onclick="_gaq.push(['_trackEvent', 'outbound-article-int', 'http://theoestudio.com/wp-content/uploads/2014/09/ETBv4_preview4_09142014.png', '']);")
                                img.size-full.wp-image-756(src='http://theoestudio.com/wp-content/uploads/2014/09/ETBv4_preview4_09142014.png', alt='A picture of Exploring The Bleak shown in majority of green with dark green and blue undertones for the ground in regions.', width='503', height='703')
                            p.wp-caption-text
                                | An emphasis on variety of environments make colors an import part of the design in ETBv4. This also means that unit testing can&rsquo;t just be ensuring code passes all tests, but that when a color is altered or a design element is moved it doesn&rsquo;t skew or alter other features of the game as they&rsquo;re so tightly coupled. Because of this, a view model is imperative in establishing test reliability of these newer features.
                    p.postmetadata
                        | September 15th, 2014 |
                        a(href='http://theoestudio.com/?p=754#respond', title='Comment on [JS] ETBv4 Showcase') 0 Comments
                        br
                        | Category:
                        a(href='http://theoestudio.com/?cat=10', rel='category') Exploring The Bleak
                        | | Tags:
                        a(href='http://theoestudio.com/?tag=bleak', rel='tag') Bleak
                        | ,
                        a(href='http://theoestudio.com/?tag=dla', rel='tag') DLA
                        | ,
                        a(href='http://theoestudio.com/?tag=environment', rel='tag') environment
                        | ,
                        a(href='http://theoestudio.com/?tag=exploring', rel='tag') Exploring
                        | ,
                        a(href='http://theoestudio.com/?tag=fov', rel='tag') fov
                        | ,
                        a(href='http://theoestudio.com/?tag=javascript', rel='tag') javascript
                        | ,
                        a(href='http://theoestudio.com/?tag=js', rel='tag') js
                        | ,
                        a(href='http://theoestudio.com/?tag=los', rel='tag') LOS
                        | ,
                        a(href='http://theoestudio.com/?tag=tdd', rel='tag') TDD
                        | ,
                        a(href='http://theoestudio.com/?tag=testing', rel='tag') testing
                .postmetadata2
                    h1#post-745
                        a(href='http://theoestudio.com/?p=745', rel='bookmark', title='Permanent Link: [JS] Object Collision With Spatial Hashing') [JS] Object Collision With Spatial Hashing
                    .entry
                        p
                            | I ran across a great article today by Christer Bystrom that talks of the difference between Quadtree&rsquo;s and Spatial Hashing at implementation and subsequently alludes at the performs implications. I&rsquo;ve made a more appropriate demo (in my opinion,) than the confusing code in the spatial hashing implementation on the page to make it more simple to see and understand. I thought that it was worth taking a look at. In my code example I do not show his spatial mapping library. You&rsquo;ll have to use the link in the picture caption to gain access to that. I merely show how I implemented the library. In order to run my demo, you need just reference the
                            a(href='https://github.com/NathanielInman/Experiments/blob/master/Random/libs/easel.js', onclick="_gaq.push(['_trackEvent','download','https://github.com/NathanielInman/Experiments/blob/master/Random/libs/easel.js']);") easel library
                            | in your header and include the code at the bottom or through a script tag.
                        #attachment_746.wp-caption.aligncenter(style='width: 470px')
                            a(href='http://theoestudio.com/wp-content/uploads/2014/09/ObjectCollision_SpatialHash08212014.png', onclick="_gaq.push(['_trackEvent', 'outbound-article-int', 'http://theoestudio.com/wp-content/uploads/2014/09/ObjectCollision_SpatialHash08212014.png', '']);")
                                img.wp-image-746(src='http://theoestudio.com/wp-content/uploads/2014/09/ObjectCollision_SpatialHash08212014.png', alt='Image showing object collision using spatial hashing.', width='460', height='519')
                            p.wp-caption-text
                                | The highlighted boxes indicate those which have just collided or were forced to overlap due to compression of space allowance (ie, no room for the square to go.) The Spatial Hashing algorithm was created by Christer Bystrom. You can see his wonderful work on the subject
                                a(href='http://zufallsgenerator.github.io/2014/01/26/visually-comparing-algorithms/', onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://zufallsgenerator.github.io/2014/01/26/visually-comparing-algorithms/', 'here']);") here
                                | .
                        p
                            a.more-link(href='http://theoestudio.com/?p=745#more-745', onclick="_gaq.push(['_trackEvent', 'outbound-article-int', 'http://theoestudio.com/?p=745#more-745', 'Click here to view source code / the full post.']);")
                                | Click here to view source code / the full post.
                                br
                    p.postmetadata
                        | August 21st, 2014 |
                        a(href='http://theoestudio.com/?p=745#respond', title='Comment on [JS] Object Collision With Spatial Hashing') 0 Comments
                        br
                        | Category:
                        a(href='http://theoestudio.com/?cat=218', rel='category') Experiment
                        | | Tags:
                        a(href='http://theoestudio.com/?tag=algorithm', rel='tag') Algorithm
                        | ,
                        a(href='http://theoestudio.com/?tag=bystrom', rel='tag') bystrom
                        | ,
                        a(href='http://theoestudio.com/?tag=christer', rel='tag') christer
                        | ,
                        a(href='http://theoestudio.com/?tag=collision', rel='tag') Collision
                        | ,
                        a(href='http://theoestudio.com/?tag=hashing', rel='tag') hashing
                        | ,
                        a(href='http://theoestudio.com/?tag=javascript', rel='tag') javascript
                        | ,
                        a(href='http://theoestudio.com/?tag=js', rel='tag') js
                        | ,
                        a(href='http://theoestudio.com/?tag=object', rel='tag') Object
                        | ,
                        a(href='http://theoestudio.com/?tag=spatial', rel='tag') spatial
                .postmetadata2
                    h1#post-604
                        a(href='http://theoestudio.com/?p=604', rel='bookmark', title='Permanent Link: [JS] Easel') [JS] Easel
                    .entry
                        p
                            | A while back I realized that a difficult and annoying step in my creating these tiny or medium sized experiments in Javascript is that I&rsquo;m repeating the same header code over and over again. This code is usually the initialization of a canvas that fills the screen, holds the screen width and height values in a variable, auto-expand or contract with the resizing of the window, and other small reference variables that I commonly use. M for Math, $(o) for document.getElementById(o), etc. I&rsquo;ve been working on L systems lately, below is a picture that captures the essence of the library. It&rsquo;s called Easel, because it&rsquo;s quite simply a quick way of setting up a platform to draw on like an artist, none of the annoying things inbetween.
                        // Crayon Syntax Highlighter v2.6.9
                        #crayon-54b47954b837c472347565.crayon-syntax.crayon-theme-son-of-obsidian.crayon-font-monaco.crayon-os-mac.print-yes.notranslate(data-settings=' minimize scroll-mouseover wrap', style=' margin-top: 12px; margin-bottom: 12px; font-size: 12px !important; line-height: 15px !important;')
                            .crayon-toolbar(data-settings=' mouseover overlay hide delay', style='font-size: 12px !important;height: 18px !important; line-height: 18px !important;')
                                span.crayon-title Drawing made easy using javascript and Easel
                                | &#x9;&#x9;&#x9;
                                .crayon-tools(style='font-size: 12px !important;height: 18px !important; line-height: 18px !important;')
                                    span.crayon-mixed-highlight(title='Contains Mixed Languages')
                                    .crayon-button.crayon-nums-button(title='Toggle Line Numbers')
                                        .crayon-button-icon
                                    .crayon-button.crayon-plain-button(title='Toggle Plain Code')
                                        .crayon-button-icon
                                    .crayon-button.crayon-wrap-button(title='Toggle Line Wrap')
                                        .crayon-button-icon
                                    .crayon-button.crayon-expand-button(title='Expand Code')
                                        .crayon-button-icon
                                    .crayon-button.crayon-copy-button(title='Copy')
                                        .crayon-button-icon
                                    .crayon-button.crayon-popup-button(title='Open Code In New Window')
                                        .crayon-button-icon
                            | &#x9;&#x9;&#x9;
                            .crayon-info(style='min-height: 16.8px !important; line-height: 16.8px !important;')
                            | &#x9;&#x9;&#x9;
                            .crayon-plain-wrap
                                textarea.crayon-plain.print-no(data-settings='dblclick', readonly='', style='-moz-tab-size:4; -o-tab-size:4; -webkit-tab-size:4; tab-size:4; font-size: 12px !important; line-height: 15px !important;')
                                    | &lt;!doctype html&gt;&lt;head&gt;&lt;title&gt;Pleasant Error&lt;/title&gt;&lt;/head&gt;&lt;body&gt;
                                    | &lt;script type=&apos;text/javascript&apos; src=&apos;../libs/easel.js&apos;&gt;&lt;/script&gt;
                                    | &lt;script&gt;
                                    | ctx.fillStyle=&apos;#F00&apos;;
                                    | ctx.fillRect(v.w/4,v.h/4,v.w/2,v.h/2);
                                    | &lt;/script&gt;&lt;/body&gt;&lt;/html&gt;
                            | &#x9;&#x9;&#x9;
                            .crayon-main(style='')
                                table.crayon-table
                                    tr.crayon-row
                                        td.crayon-nums(data-settings='show')
                                            .crayon-nums-content(style='font-size: 12px !important; line-height: 15px !important;')
                                                .crayon-num(data-line='crayon-54b47954b837c472347565-1') 1
                                                .crayon-num.crayon-striped-num(data-line='crayon-54b47954b837c472347565-2') 2
                                                .crayon-num(data-line='crayon-54b47954b837c472347565-3') 3
                                                .crayon-num.crayon-striped-num(data-line='crayon-54b47954b837c472347565-4') 4
                                                .crayon-num(data-line='crayon-54b47954b837c472347565-5') 5
                                                .crayon-num.crayon-striped-num(data-line='crayon-54b47954b837c472347565-6') 6
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                        td.crayon-code
                                            .crayon-pre(style='font-size: 12px !important; line-height: 15px !important; -moz-tab-size:4; -o-tab-size:4; -webkit-tab-size:4; tab-size:4;')
                                                #crayon-54b47954b837c472347565-1.crayon-line
                                                    span.crayon-o &lt;
                                                    span.crayon-o !
                                                    span.crayon-e doctype
                                                    span.crayon-h
                                                    span.crayon-e html
                                                    span.crayon-o &gt;
                                                    span.crayon-o &lt;
                                                    span.crayon-e head
                                                    span.crayon-o &gt;
                                                    span.crayon-o &lt;
                                                    span.crayon-e title
                                                    span.crayon-o &gt;
                                                    span.crayon-e Pleasant
                                                    span.crayon-h
                                                    span.crayon-e Error
                                                    span.crayon-o &lt;
                                                    span.crayon-o /
                                                    span.crayon-e title
                                                    span.crayon-o &gt;
                                                    span.crayon-o &lt;
                                                    span.crayon-o /
                                                    span.crayon-e head
                                                    span.crayon-o &gt;
                                                    span.crayon-o &lt;
                                                    span.crayon-e body
                                                    span.crayon-o &gt;
                                                #crayon-54b47954b837c472347565-2.crayon-line.crayon-striped-line
                                                    span.crayon-ta &lt;script
                                                    span.crayon-e type
                                                    span.crayon-o =
                                                    span.crayon-s &apos;text/javascript&apos;
                                                    span.crayon-h
                                                    span.crayon-e src
                                                    span.crayon-o =
                                                    span.crayon-s &apos;../libs/easel.js&apos;
                                                    span.crayon-o &gt;
                                                    span.crayon-ta &lt;/script&gt;
                                                #crayon-54b47954b837c472347565-3.crayon-line
                                                    span.crayon-ta &lt;script&gt;
                                                #crayon-54b47954b837c472347565-4.crayon-line.crayon-striped-line
                                                    span.crayon-h &nbsp;&nbsp;
                                                    span.crayon-v ctx
                                                    span.crayon-sy .
                                                    span.crayon-e fillStyle
                                                    span.crayon-o =
                                                    span.crayon-s &apos;#F00&apos;
                                                    span.crayon-sy ;
                                                #crayon-54b47954b837c472347565-5.crayon-line
                                                    span.crayon-h &nbsp;&nbsp;
                                                    span.crayon-v ctx
                                                    span.crayon-sy .
                                                    span.crayon-e fillRect
                                                    span.crayon-sy (
                                                    span.crayon-v v
                                                    span.crayon-sy .
                                                    span.crayon-v w
                                                    span.crayon-o /
                                                    span.crayon-cn 4
                                                    span.crayon-sy ,
                                                    span.crayon-v v
                                                    span.crayon-sy .
                                                    span.crayon-v h
                                                    span.crayon-o /
                                                    span.crayon-cn 4
                                                    span.crayon-sy ,
                                                    span.crayon-v v
                                                    span.crayon-sy .
                                                    span.crayon-v w
                                                    span.crayon-o /
                                                    span.crayon-cn 2
                                                    span.crayon-sy ,
                                                    span.crayon-v v
                                                    span.crayon-sy .
                                                    span.crayon-v h
                                                    span.crayon-c /2);
                                                #crayon-54b47954b837c472347565-6.crayon-line.crayon-striped-line
                                                    span.crayon-c &lt;/s
                                                    span.crayon-v cript
                                                    span.crayon-o &gt;
                                                    span.crayon-o &lt;
                                                    span.crayon-o /
                                                    span.crayon-v body
                                                    span.crayon-o &gt;
                                                    span.crayon-o &lt;
                                                    span.crayon-o /
                                                    span.crayon-v html
                                                    span.crayon-o &gt;
                        // [Format Time: 0.0146 seconds]
                        p
                            #attachment_606.wp-caption.aligncenter(style='width: 481px')
                                a(href='http://theoestudio.com/wp-content/uploads/2014/08/Easel.png', onclick="_gaq.push(['_trackEvent', 'outbound-article-int', 'http://theoestudio.com/wp-content/uploads/2014/08/Easel.png', '']);")
                                    img.size-full.wp-image-606(src='http://theoestudio.com/wp-content/uploads/2014/08/Easel.png', alt='Picture of Pleasant Error, a Lyndenmeyr System artifact generated in javascript', width='471', height='420')
                                p.wp-caption-text
                                    | Picture of a Lindenmeyr System generating &ldquo;Pleasant Error&rdquo; using a simple Easel framework I built up. As you see, testing in ie9 showed it even supports the darker side of the net browsers. Cheers!
                        p
                            a.more-link(href='http://theoestudio.com/?p=604#more-604', onclick="_gaq.push(['_trackEvent', 'outbound-article-int', 'http://theoestudio.com/?p=604#more-604', 'Click here to view source code / the full post.']);")
                                | Click here to view source code / the full post.
                                br
                    p.postmetadata
                        | July 13th, 2014 |
                        a(href='http://theoestudio.com/?p=604#respond', title='Comment on [JS] Easel') 0 Comments
                        br
                        | Category:
                        a(href='http://theoestudio.com/?cat=218', rel='category') Experiment
                        | | Tags:
                        a(href='http://theoestudio.com/?tag=3d', rel='tag') 3d
                        | ,
                        a(href='http://theoestudio.com/?tag=code', rel='tag') code
                        | ,
                        a(href='http://theoestudio.com/?tag=complex', rel='tag') complex
                        | ,
                        a(href='http://theoestudio.com/?tag=easel', rel='tag') Easel
                        | ,
                        a(href='http://theoestudio.com/?tag=javascript', rel='tag') javascript
                        | ,
                        a(href='http://theoestudio.com/?tag=js', rel='tag') js
                        | ,
                        a(href='http://theoestudio.com/?tag=library', rel='tag') library
                        | ,
                        a(href='http://theoestudio.com/?tag=lindenmeyr', rel='tag') lindenmeyr
                        | ,
                        a(href='http://theoestudio.com/?tag=math', rel='tag') math
                        | ,
                        a(href='http://theoestudio.com/?tag=picture', rel='tag') picture
                        | ,
                        a(href='http://theoestudio.com/?tag=screen', rel='tag') screen
                        | ,
                        a(href='http://theoestudio.com/?tag=system', rel='tag') system
                .postmetadata2
                    h1#post-572
                        a(href='http://theoestudio.com/?p=572', rel='bookmark', title='Permanent Link: [JS] Coupled Map Lattice') [JS] Coupled Map Lattice
                    .entry
                        p
                            | According to Kunihiko Kaneko in &ldquo;Overview of Coupled Map Lattices.&rdquo; in 1992, A coupled map lattice (CML) is a dynamical system that models the behavior of non-linear systems. Similar to the Cellular Automata experiments I&rsquo;ve done in terms of discrete features, they can produce some very interesting results. The alpha and epsilon points I picked are popular points that produce some interesting results. I, of coarse, don&rsquo;t give the results any form of proper name &ndash; but merely describe them in the comments as they look. CML could be used for me to generate initial cavern dispersion for which I can transform using procedures to reach a system more typical in video games. Without further ado here is the formulas, a picture of one of the results and source code.
                        h2(style='clear: both; color: #aaa; text-decoration: underline; padding-top: 10px;') Recurrence Relation
                        img.latex(src='http://s0.wp.com/latex.php?latex=%5Cqquad+x_%7Bn%2B1%7D+%3D+r+x_n+%281-x_n%29&bg=181818&fg=ffffff&s=0', alt='\qquad x_{n+1} = r x_n (1-x_n)', title='\qquad x_{n+1} = r x_n (1-x_n)')
                        h2(style='clear: both; color: #aaa; text-decoration: underline; padding-top: 20px;') Single Neighbor Coupling
                        img.latex(src='http://s0.wp.com/latex.php?latex=%5Cqquad+x_%7Bn%2B1%7D+%3D+%28%5Cepsilon%29%5Br+x_n+%281-x_n%29%5D_s+%2B+%281-%5Cepsilon%29%5Br+x_n+%281-x_n%29%5D_%7Bs-1%7D&bg=181818&fg=ffffff&s=0', alt='\qquad x_{n+1} = (\epsilon)[r x_n (1-x_n)]_s + (1-\epsilon)[r x_n (1-x_n)]_{s-1}', title='\qquad x_{n+1} = (\epsilon)[r x_n (1-x_n)]_s + (1-\epsilon)[r x_n (1-x_n)]_{s-1}')
                        h2(style='clear: both; color: #aaa; text-decoration: underline; padding-top: 20px;') Kunihiko Kaneko&rsquo;s CML Recurrence Equation
                        p
                            img.latex(src='http://s0.wp.com/latex.php?latex=+u_s%5E%7Bt%2B1%7D+%3D+%281-%5Cvarepsilon%29f%28u_s%5Et%29%2B%5Cfrac%7B%5Cvarepsilon%7D%7B2%7D%5Cleft%28f%28u_%7Bs%2B1%7D%5Et%29%2Bf%28u_%7Bs-1%7D%5Et%29+%5Cright%29%5C+%3A%5C+t%5Cin+%5Cmathbb%7BN%7D%2C%5C+%5Cvarepsilon+%5Cin+%5B0%2C1%5D&bg=181818&fg=ffffff&s=0', alt=' u_s^{t+1} = (1-\varepsilon)f(u_s^t)+\frac{\varepsilon}{2}\left(f(u_{s+1}^t)+f(u_{s-1}^t) \right)\ :\ t\in \mathbb{N},\ \varepsilon \in [0,1]', title=' u_s^{t+1} = (1-\varepsilon)f(u_s^t)+\frac{\varepsilon}{2}\left(f(u_{s+1}^t)+f(u_{s-1}^t) \right)\ :\ t\in \mathbb{N},\ \varepsilon \in [0,1]')
                            br
                            img.latex(src='http://s0.wp.com/latex.php?latex=+%5Cmbox%7Bwhere+%7D+%5C+u_s%5Et+%5Cin+%7B%5Cmathbb%7BR%7D%7D+%5C+%2C%5C+%5Cmbox%7Band%7D%5C+f%5C+%5Cmbox%7Bis+a+real+mapping%7D&bg=181818&fg=ffffff&s=0', alt=' \mbox{where } \ u_s^t \in {\mathbb{R}} \ ,\ \mbox{and}\ f\ \mbox{is a real mapping}', title=' \mbox{where } \ u_s^t \in {\mathbb{R}} \ ,\ \mbox{and}\ f\ \mbox{is a real mapping}')
                            br
                            span(style='clear:both;')
                                br
                            br
                            #attachment_600.wp-caption.aligncenter(style='width: 610px')
                                a(href='http://theoestudio.com/wp-content/uploads/2014/06/CoupledMapLattice_061814.png', onclick="_gaq.push(['_trackEvent', 'outbound-article-int', 'http://theoestudio.com/wp-content/uploads/2014/06/CoupledMapLattice_061814.png', '']);")
                                    img.wp-image-600(src='http://theoestudio.com/wp-content/uploads/2014/06/CoupledMapLattice_061814.png', alt='Coupled Map Lattice looks similar to tree bark', width='600', height='355')
                                p.wp-caption-text
                                    | Space-amplitude plot of the time evolution of x-sub n of i plotted against lattice site i where alpha is 1.7522, epsilon is 0.00115 and it&rsquo;s plotted per 12 steps.
                        p
                            a.more-link(href='http://theoestudio.com/?p=572#more-572', onclick="_gaq.push(['_trackEvent', 'outbound-article-int', 'http://theoestudio.com/?p=572#more-572', 'Click here to view source code / the full post.']);")
                                | Click here to view source code / the full post.
                                br
                    p.postmetadata
                        | June 18th, 2014 |
                        a(href='http://theoestudio.com/?p=572#respond', title='Comment on [JS] Coupled Map Lattice') 0 Comments
                        br
                        | Category:
                        a(href='http://theoestudio.com/?cat=218', rel='category') Experiment
                        | | Tags:
                        a(href='http://theoestudio.com/?tag=automata', rel='tag') Automata
                        | ,
                        a(href='http://theoestudio.com/?tag=cellular', rel='tag') cellular
                        | ,
                        a(href='http://theoestudio.com/?tag=cml', rel='tag') CML
                        | ,
                        a(href='http://theoestudio.com/?tag=coupled', rel='tag') Coupled
                        | ,
                        a(href='http://theoestudio.com/?tag=discrete', rel='tag') discrete
                        | ,
                        a(href='http://theoestudio.com/?tag=dynamical', rel='tag') dynamical
                        | ,
                        a(href='http://theoestudio.com/?tag=generation', rel='tag') generation
                        | ,
                        a(href='http://theoestudio.com/?tag=kaneko', rel='tag') kaneko
                        | ,
                        a(href='http://theoestudio.com/?tag=kunihiko', rel='tag') kunihiko
                        | ,
                        a(href='http://theoestudio.com/?tag=lattice', rel='tag') lattice
                        | ,
                        a(href='http://theoestudio.com/?tag=map', rel='tag') map
                        | ,
                        a(href='http://theoestudio.com/?tag=model', rel='tag') model
                        | ,
                        a(href='http://theoestudio.com/?tag=non-linear', rel='tag') non-linear
                        | ,
                        a(href='http://theoestudio.com/?tag=system', rel='tag') system
                .pagenavigation2
                    .alignleft
                        a(href='http://theoestudio.com/?paged=2') &laquo; Previous Posts
                    .alignright
                        a(href='http://theoestudio.com/?paged=2') Next Page &raquo;
        #sidebar
            .sidelist
                h2(style='margin-bottom:13px;') Search
                ul
                    li
                        form.searchform(method='get', action='/index.php')
                            div
                                input.s(type='text', value='Search term...', name='s', onblur="if(this.value=='')this.value='Search term...';", onfocus="if(this.value=='Search term...')this.value='';")
            .sidelist
                h2 Archive
                span(style='float:right;text-align:right;border-bottom:1px solid #444;width:100%;margin-bottom:5px;') R e c e n t
                ul
                    li
                        a(href='http://theoestudio.com/?p=761') [JS] Interview Question
                    | &#x9;
                    li
                        a(href='http://theoestudio.com/?p=754') [JS] ETBv4 Showcase
                    | &#x9;
                    li
                        a(href='http://theoestudio.com/?p=745') [JS] Object Collision With Spatial Hashing
                    | &#x9;
                    li
                        a(href='http://theoestudio.com/?p=604') [JS] Easel
                    | &#x9;
                    li
                        a(href='http://theoestudio.com/?p=572') [JS] Coupled Map Lattice
                    | &#x9;
                    li
                        a(href='http://theoestudio.com/?p=569') [JS] Voronoi Movement
                    | &#x9;
                    li
                        a(href='http://theoestudio.com/?p=562') [JS] Object Collision
                    | &#x9;
                    li
                        a(href='http://theoestudio.com/?p=554') [JS] Draggable Components
                    | &#x9;
                    li
                        a(href='http://theoestudio.com/?p=548') [JS:3d] 3d Renderer in SVG/VML &amp; Canvas
                    | &#x9;
                    li
                        a(href='http://theoestudio.com/?p=545') [JS:Canvas2d] Hex Effect
                span(style='float:right;text-align:right;border-bottom:1px solid #444;width:100%;margin:7px 0 5px 0;') M o n t h l y
                ul
                    li
                        a(href='http://theoestudio.com/?m=201410') October 2014
                    | &#x9;
                    li
                        a(href='http://theoestudio.com/?m=201409') September 2014
                    | &#x9;
                    li
                        a(href='http://theoestudio.com/?m=201408') August 2014
                    | &#x9;
                    li
                        a(href='http://theoestudio.com/?m=201407') July 2014
                    | &#x9;
                    li
                        a(href='http://theoestudio.com/?m=201406') June 2014
                    | &#x9;
                    li
                        a(href='http://theoestudio.com/?m=201405') May 2014
                    | &#x9;
                    li
                        a(href='http://theoestudio.com/?m=201404') April 2014
                    | &#x9;
                    li
                        a(href='http://theoestudio.com/?m=201403') March 2014
                span(style='float:right;text-align:right;border-bottom:1px solid #444;width:100%;margin:7px 0 5px 0;') Y e a r l y
                ul
                    li
                        a(href='http://theoestudio.com/?m=2014') 2014
                    | &#x9;
                    li
                        a(href='http://theoestudio.com/?m=2013') 2013
                    | &#x9;
                    li
                        a(href='http://theoestudio.com/?m=2012') 2012
                    | &#x9;
                    li
                        a(href='http://theoestudio.com/?m=2011') 2011
            .sidelist
                ul
                    li.categories
                        h2 Categories
                        ul
                            li.cat-item.cat-item-102
                                a(href='http://theoestudio.com/?cat=102') 7DRL
                            | &#x9;
                            li.cat-item.cat-item-36
                                a(href='http://theoestudio.com/?cat=36') Clay
                            | &#x9;
                            li.cat-item.cat-item-218
                                a(href='http://theoestudio.com/?cat=218') Experiment
                            | &#x9;
                            li.cat-item.cat-item-10
                                a(href='http://theoestudio.com/?cat=10') Exploring The Bleak
                            | &#x9;
                            li.cat-item.cat-item-9
                                a(href='http://theoestudio.com/?cat=9') Plains of Sedia
                            | &#x9;
                            li.cat-item.cat-item-13
                                a(href='http://theoestudio.com/?cat=13') PLOSDB
                            | &#x9;
                            li.cat-item.cat-item-17
                                a(href='http://theoestudio.com/?cat=17') The Other Experiment Studio
            .tagcloud
                ul
                    a.tag-link-111(href='http://theoestudio.com/?tag=2d', title='4 topics', style='font-size: 11.581395348837px;') 2d
                    a.tag-link-117(href='http://theoestudio.com/?tag=3d', title='9 topics', style='font-size: 16.46511627907px;') 3d
                    a.tag-link-102(href='http://theoestudio.com/?tag=7drl', title='7 topics', style='font-size: 14.837209302326px;') 7DRL
                    a.tag-link-114(href='http://theoestudio.com/?tag=algorithm', title='8 topics', style='font-size: 15.651162790698px;') Algorithm
                    a.tag-link-135(href='http://theoestudio.com/?tag=android', title='3 topics', style='font-size: 9.953488372093px;') android
                    a.tag-link-168(href='http://theoestudio.com/?tag=arrp', title='3 topics', style='font-size: 9.953488372093px;') ARRP
                    a.tag-link-92(href='http://theoestudio.com/?tag=automata', title='6 topics', style='font-size: 14.023255813953px;') Automata
                    a.tag-link-106(href='http://theoestudio.com/?tag=automatarl', title='3 topics', style='font-size: 9.953488372093px;') AutomataRL
                    a.tag-link-18(href='http://theoestudio.com/?tag=bug', title='2 topics', style='font-size: 8px;') bug
                    a.tag-link-96(href='http://theoestudio.com/?tag=canvas', title='4 topics', style='font-size: 11.581395348837px;') canvas
                    a.tag-link-58(href='http://theoestudio.com/?tag=color', title='3 topics', style='font-size: 9.953488372093px;') color
                    a.tag-link-98(href='http://theoestudio.com/?tag=etb', title='11 topics', style='font-size: 17.767441860465px;') ETB
                    a.tag-link-57(href='http://theoestudio.com/?tag=generation', title='7 topics', style='font-size: 14.837209302326px;') generation
                    a.tag-link-22(href='http://theoestudio.com/?tag=google', title='3 topics', style='font-size: 9.953488372093px;') google
                    a.tag-link-115(href='http://theoestudio.com/?tag=graphics', title='4 topics', style='font-size: 11.581395348837px;') Graphics
                    a.tag-link-95(href='http://theoestudio.com/?tag=html5', title='3 topics', style='font-size: 9.953488372093px;') html5
                    a.tag-link-139(href='http://theoestudio.com/?tag=interface', title='3 topics', style='font-size: 9.953488372093px;') Interface
                    a.tag-link-21(href='http://theoestudio.com/?tag=javascript', title='21 topics', style='font-size: 22px;') javascript
                    a.tag-link-182(href='http://theoestudio.com/?tag=js', title='20 topics', style='font-size: 21.674418604651px;') js
                    a.tag-link-116(href='http://theoestudio.com/?tag=lighting', title='5 topics', style='font-size: 12.883720930233px;') lighting
                    a.tag-link-34(href='http://theoestudio.com/?tag=map', title='9 topics', style='font-size: 16.46511627907px;') map
                    a.tag-link-66(href='http://theoestudio.com/?tag=mobile', title='3 topics', style='font-size: 9.953488372093px;') mobile
                    a.tag-link-27(href='http://theoestudio.com/?tag=multiplayer', title='4 topics', style='font-size: 11.581395348837px;') multiplayer
                    a.tag-link-202(href='http://theoestudio.com/?tag=particles', title='3 topics', style='font-size: 9.953488372093px;') particles
                    a.tag-link-23(href='http://theoestudio.com/?tag=php', title='3 topics', style='font-size: 9.953488372093px;') php
                    a.tag-link-4(href='http://theoestudio.com/?tag=plos', title='7 topics', style='font-size: 14.837209302326px;') plos
                    a.tag-link-13(href='http://theoestudio.com/?tag=plosdb', title='5 topics', style='font-size: 12.883720930233px;') PLOSDB
                    a.tag-link-14(href='http://theoestudio.com/?tag=plosdbo', title='2 topics', style='font-size: 8px;') PLOSDB:O
                    a.tag-link-137(href='http://theoestudio.com/?tag=preview', title='3 topics', style='font-size: 9.953488372093px;') preview
                    a.tag-link-156(href='http://theoestudio.com/?tag=procedural', title='5 topics', style='font-size: 12.883720930233px;') procedural
                    a.tag-link-31(href='http://theoestudio.com/?tag=proposal', title='3 topics', style='font-size: 9.953488372093px;') proposal
                    a.tag-link-47(href='http://theoestudio.com/?tag=quests', title='3 topics', style='font-size: 9.953488372093px;') quests
                    a.tag-link-55(href='http://theoestudio.com/?tag=random', title='15 topics', style='font-size: 19.720930232558px;') random
                    a.tag-link-79(href='http://theoestudio.com/?tag=roguelike', title='10 topics', style='font-size: 17.116279069767px;') Roguelike
                    a.tag-link-3(href='http://theoestudio.com/?tag=scheme', title='2 topics', style='font-size: 8px;') Scheme
                    a.tag-link-28(href='http://theoestudio.com/?tag=server', title='4 topics', style='font-size: 11.581395348837px;') server
                    a.tag-link-238(href='http://theoestudio.com/?tag=sine', title='4 topics', style='font-size: 11.581395348837px;') sine
                    a.tag-link-136(href='http://theoestudio.com/?tag=testing', title='3 topics', style='font-size: 9.953488372093px;') testing
                    a.tag-link-104(href='http://theoestudio.com/?tag=three-js', title='3 topics', style='font-size: 9.953488372093px;') Three.js
                    a.tag-link-109(href='http://theoestudio.com/?tag=ui', title='3 topics', style='font-size: 9.953488372093px;') UI
                    a.tag-link-6(href='http://theoestudio.com/?tag=update', title='8 topics', style='font-size: 15.651162790698px;') update
                    a.tag-link-239(href='http://theoestudio.com/?tag=wave', title='4 topics', style='font-size: 11.581395348837px;') wave
                    a.tag-link-5(href='http://theoestudio.com/?tag=website', title='5 topics', style='font-size: 12.883720930233px;') website
                    a.tag-link-15(href='http://theoestudio.com/?tag=xml', title='6 topics', style='font-size: 14.023255813953px;') XML
                    a.tag-link-20(href='http://theoestudio.com/?tag=xslt', title='4 topics', style='font-size: 11.581395348837px;') XSLT
        // #### Ende Sidebar ###
    #footer
        div &nbsp;
        | &copy; 2002-2015.
        a(href='http://theoestudio.com') The Other Experiment Studio.
        | All Rights Reserved.
        br
        a(href='http://wordpress.org') WordPress 4.1
        div &nbsp;
