.absolute{
    position:absolute;
    display:inline-block;
    left:0;
    right:0;
}
.transparentBG{
    color:#999;
    font-weight:800;
    background-color:rgba(0,0,0,0.5);
    border:3px solid rgba(0,0,0,0.05);
}