.hidden{
	visibility:hidden;
}
#wrapper{
	position:absolute;left:0;top:0;bottom:0;right:0;overflow:hidden;
}
#progressBar{
	position:absolute;
	left:0;top:48%;right:0;bottom:48%;
	border-top:3px solid #333;
	border-bottom:3px solid #333;
	background-color:#000;
	opacity:0.6; 
	visibility:hidden;
}
#progressBar_progress{
	position:relative;
	width:0%;height:100%;
	background-color:#062;
}
#titleFrame{
	position:absolute;
	text-align:center;
	top:-27px;
	left:0;right:0;
}
#title{
	font:1.5em "Courier New";
	position:relative;
	display:inline-block;
	margin:auto;
	padding:0 10px 0 10px;
	background-color:#333;
	font-weight:800;
	color:#AFA;
}
#label{
	font:1.5em "Courier New";
	position:absolute;
	top:1px;
	width:100%;
	color:#FFF;
	text-align:center;
}