section.section
  .container
    h1.title Armory
    hr
    p.
      The armory distinguishes the process in creating a random drop using the
      Plains of Sedia database. When it comes to computing chance to drop, the
      numbers next to each option represents weight. To compute the actual
      chance for something to drop you aggregate all the weights together and 
      consider this your pool where each weight has it's own relative chance to
      occur depending on the correlation of weight to pool size. When rolling
      for all subsequent procedures, it uses the same weighting process.
    hr
    .content
      h3.subtitle Categories and procedure
      .columns
        .column
          li.margin-bottom: strong (30) Nothing
          li.margin-bottom
            strong (20) Weapon
            ol
              li Roll to determine type
              li Roll for material
              li Roll for craftsmanship
              li Roll quality based on craft
              li Roll magical properties based on quality
          li.margin-bottom
            strong (20) Armor
            ol
              li Roll to determine type
              li Roll for material
              li Roll for craftsmanship
              li Roll quality based on craft
              li Roll magical properties based on quality
        .column
          li.margin-bottom
            strong (20) Money
            ol
              li Roll for type
              li Roll for value
          li.margin-bottom
            strong (10) Miscellaneous
            ol
              li Roll for category
              li Roll for type
          li.margin-bottom
            strong (20) Food
            ol
              li Roll for food category
              li Roll for type
              li Roll for quality
              li Roll for prefix adjective based on quality
              li Roll for type adjective
