doctype html
html(lang='en')
  include ./partials/_head.jade
  body
    h1 Demos
    ul
      li 
        a(href='experiment0.html') Gnats
      li 
        a(href='experiment1.html') Waterfall
      li
        a(href='experiment2.html') Nest
      li
        a(href='experiment3.html') Fire
